@charset "UTF-8";
/*
----------------------------------
CONFIG SCSS FILES
----------------------------------
*/
/*
----------------------------------
CONFIG VARIABLE COLORS
Modify only the variables below 
----------------------------------
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
.bg-primary { background-color: #E22B2B; color: white; }

.bg-primary { background-color: #1F5DA5; color: white; }

/*
----------------------------------
PARSE COLUMN
----------------------------------
*/
/*
----------------------------------
RESPONSIVE BREAKPOINT
----------------------------------
*/
/*
----------------------------------
CONFIG VARIABLE FONTS
Modify only the variables below 
----------------------------------
*/
html { font-size: 62.5% !important; }

body { font-family: "Poppins", "Titillium Web", sans-serif !important; font-size: 1.6rem !important; line-height: 1.6 !important; color: #020202; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

/*
----------------------------------
CONFIG GRID & WRAPPER
Modify only the variables below 
GUIDE -> https://css-tricks.com/snippets/css/complete-guide-grid/
----------------------------------
*/
/*
----------------------------------
GRID CLASS
----------------------------------
*/
.grid { display: flex; flex-wrap: wrap; display: grid; grid-template-columns: repeat(12, minmax(0, calc(1fr - 20px))); grid-template-columns: repeat(12, 1fr); grid-row-gap: 0; }

@media (min-width: 800px) { .grid { grid-column-gap: 20px; } }

@media (min-width: 300px) { .s_0col { display: none; }
  .s_hide { display: none; }
  .s_show { display: block; }
  .s_1col { grid-column: span 1; max-width: 100%; display: block; }
  .s_2col { grid-column: span 2; max-width: 100%; display: block; }
  .s_3col { grid-column: span 3; max-width: 100%; display: block; }
  .s_4col { grid-column: span 4; max-width: 100%; display: block; }
  .s_5col { grid-column: span 5; max-width: 100%; display: block; }
  .s_6col { grid-column: span 6; max-width: 100%; display: block; }
  .s_7col { grid-column: span 7; max-width: 100%; display: block; }
  .s_8col { grid-column: span 8; max-width: 100%; display: block; }
  .s_9col { grid-column: span 9; max-width: 100%; display: block; }
  .s_10col { grid-column: span 10; max-width: 100%; display: block; }
  .s_11col { grid-column: span 11; max-width: 100%; display: block; }
  .s_12col { grid-column: span 12; max-width: 100%; display: block; } }

@media (min-width: 800px) { .m_0col { display: none; }
  .m_hide { display: none; }
  .m_show { display: block; }
  .m_1col { grid-column: span 1; max-width: 100%; display: block; }
  .m_2col { grid-column: span 2; max-width: 100%; display: block; }
  .m_3col { grid-column: span 3; max-width: 100%; display: block; }
  .m_4col { grid-column: span 4; max-width: 100%; display: block; }
  .m_5col { grid-column: span 5; max-width: 100%; display: block; }
  .m_6col { grid-column: span 6; max-width: 100%; display: block; }
  .m_7col { grid-column: span 7; max-width: 100%; display: block; }
  .m_8col { grid-column: span 8; max-width: 100%; display: block; }
  .m_9col { grid-column: span 9; max-width: 100%; display: block; }
  .m_10col { grid-column: span 10; max-width: 100%; display: block; }
  .m_11col { grid-column: span 11; max-width: 100%; display: block; }
  .m_12col { grid-column: span 12; max-width: 100%; display: block; } }

@media (min-width: 1200px) { .l_0col { display: none; }
  .l_hide { display: none; }
  .l_show { display: block; }
  .l_1col { grid-column: span 1; max-width: 100%; display: block; }
  .l_2col { grid-column: span 2; max-width: 100%; display: block; }
  .l_3col { grid-column: span 3; max-width: 100%; display: block; }
  .l_4col { grid-column: span 4; max-width: 100%; display: block; }
  .l_5col { grid-column: span 5; max-width: 100%; display: block; }
  .l_6col { grid-column: span 6; max-width: 100%; display: block; }
  .l_7col { grid-column: span 7; max-width: 100%; display: block; }
  .l_8col { grid-column: span 8; max-width: 100%; display: block; }
  .l_9col { grid-column: span 9; max-width: 100%; display: block; }
  .l_10col { grid-column: span 10; max-width: 100%; display: block; }
  .l_11col { grid-column: span 11; max-width: 100%; display: block; }
  .l_12col { grid-column: span 12; max-width: 100%; display: block; } }

@media (min-width: 1550px) { .w_0col { display: none; }
  .w_hide { display: none; }
  .w_show { display: block; }
  .w_1col { grid-column: span 1; max-width: 100%; display: block; }
  .w_2col { grid-column: span 2; max-width: 100%; display: block; }
  .w_3col { grid-column: span 3; max-width: 100%; display: block; }
  .w_4col { grid-column: span 4; max-width: 100%; display: block; }
  .w_5col { grid-column: span 5; max-width: 100%; display: block; }
  .w_6col { grid-column: span 6; max-width: 100%; display: block; }
  .w_7col { grid-column: span 7; max-width: 100%; display: block; }
  .w_8col { grid-column: span 8; max-width: 100%; display: block; }
  .w_9col { grid-column: span 9; max-width: 100%; display: block; }
  .w_10col { grid-column: span 10; max-width: 100%; display: block; }
  .w_11col { grid-column: span 11; max-width: 100%; display: block; }
  .w_12col { grid-column: span 12; max-width: 100%; display: block; } }

/*
----------------------------------
WRAPPER CLASS
----------------------------------
*/
.wrapper { max-width: 1300px; width: calc(100% - 40px); margin-right: auto; margin-left: auto; }

/*
----------------------------------
CONFIG SPACING WIDTH MARGIN & PADDING
Modify only the variables below 
----------------------------------
*/
/*
----------------------------------
MARGIN CLASS
----------------------------------
*/
.m-none { margin: none !important; }

.mt-none { margin-top: none !important; }

.mr-none { margin-right: none !important; }

.mb-none { margin-bottom: none !important; }

.ml-none { margin-left: none !important; }

/*
--------------------------------------------
*/
.m-tiny { margin: 3.75px !important; }

.mt-tiny { margin-top: 3.75px !important; }

.mr-tiny { margin-right: 3.75px !important; }

.mb-tiny { margin-bottom: 3.75px !important; }

.ml-tiny { margin-left: 3.75px !important; }

/*
--------------------------------------------
*/
.m-small { margin: 7.5px !important; }

.mt-small { margin-top: 7.5px !important; }

.mr-small { margin-right: 7.5px !important; }

.mb-small { margin-bottom: 7.5px !important; }

.ml-small { margin-left: 7.5px !important; }

/*
--------------------------------------------
*/
.m-medium { margin: 30px !important; }

.mt-medium { margin-top: 30px !important; }

.mr-medium { margin-right: 30px !important; }

.mb-medium { margin-bottom: 30px !important; }

.ml-medium { margin-left: 30px !important; }

/*
--------------------------------------------
*/
.m-large { margin: 60px !important; }

.mt-large { margin-top: 60px !important; }

.mr-large { margin-right: 60px !important; }

.mb-large { margin-bottom: 60px !important; }

.ml-large { margin-left: 60px !important; }

/*
--------------------------------------------
*/
.m-wide { margin: 120px !important; }

.mt-wide { margin-top: 120px !important; }

.mr-wide { margin-right: 120px !important; }

.mb-wide { margin-bottom: 120px !important; }

.ml-wide { margin-left: 120px !important; }

/*
----------------------------------
PADDING CLASS
----------------------------------
*/
.p-none { padding: none !important; }

.pt-none { padding-top: none !important; }

.pr-none { padding-right: none !important; }

.pb-none { padding-bottom: none !important; }

.pl-none { padding-left: none !important; }

/*
--------------------------------------------
*/
.p-tiny { padding: 3.75px !important; }

.pt-tiny { padding-top: 3.75px !important; }

.pr-tiny { padding-right: 3.75px !important; }

.pb-tiny { padding-bottom: 3.75px !important; }

.pl-tiny { padding-left: 3.75px !important; }

/*
--------------------------------------------
*/
.p-small { padding: 7.5px !important; }

.pt-small { padding-top: 7.5px !important; }

.pr-small { padding-right: 7.5px !important; }

.pb-small { padding-bottom: 7.5px !important; }

.pl-small { padding-left: 7.5px !important; }

/*
--------------------------------------------
*/
.p-medium { padding: 30px !important; }

.pt-medium { padding-top: 30px !important; }

.pr-medium { padding-right: 30px !important; }

.pb-medium { padding-bottom: 30px !important; }

.pl-medium { padding-left: 30px !important; }

/*
--------------------------------------------
*/
.p-large { padding: 60px !important; }

.pt-large { padding-top: 60px !important; }

.pr-large { padding-right: 60px !important; }

.pb-large { padding-bottom: 60px !important; }

.pl-large { padding-left: 60px !important; }

/*
--------------------------------------------
*/
.p-wide { padding: 120px !important; }

.pt-wide { padding-top: 120px !important; }

.pr-wide { padding-right: 120px !important; }

.pb-wide { padding-bottom: 120px !important; }

.pl-wide { padding-left: 120px !important; }

/*
----------------------------------
CONFIG BUTTON STYLE
Modify only the variables below 
----------------------------------
*/
/*
----------------------------------
BUTTON CLASS
----------------------------------
*/
button, .btn { display: inline-block; background: #1BAF59; width: auto; color: #fff; padding: 5px; border-radius: 5px; transition: all .25s ease-in-out; border: none; text-decoration: none; outline: none; margin-bottom: 4px; line-height: inherit; }

button:hover, .btn:hover { filter: brightness(0.75) contrast(2.5) saturate(0.8); border: none; }

.pad-btn { padding: 5px; }

.btn-primary { padding: 5px 5px; background-color: #E22B2B; }

.btn-secondary { padding: 7.5px; background-color: #1F5DA5; }

.btn-alt { padding: 10px; }

th, td, caption { padding: 8px !important; text-align: left !important; border-bottom: solid 1px #ddd !important; }

thead, tfoot { font-weight: 600; }

fieldset { margin-bottom: 15px; }

select { width: 100%; }

input, select, textarea { width: 100%; padding: 2px 12px; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; font-size: 1.5rem; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); outline: none; }

input[type=checkbox], input[type=radio] { width: auto; height: auto; margin: 0 8px 0 0; }

label { width: 100%; display: block; }

input[disabled], select[disabled], input[readonly], select[readonly] { background-color: #eee; color: #888; }

input[readonly] { cursor: text; }

/*
----------------------------------
CONFIG HEADING STYLE
Modify only the variables below 
----------------------------------
*/
.txt-bold { font-weight: bold !important; }

.txt-uppercase { text-transform: uppercase !important; }

.txt-lowercase { text-transform: lowercase !important; }

.txt-underline { text-decoration: underline !important; }

.txt-centered { text-align: center; }

.txt-right { text-align: right; }

.txt-capitalize { text-transform: capitalize; }

h1, h2, h3, h4, h5, h6 { clear: both; margin-top: 0; }

pre { margin: 0; padding: 0 0 16px; font-weight: normal; font-family: monospace; font-size: 1em; }

a { font-weight: 700; }

blockquote p { padding: 15px; background: #eee; border-radius: 5px; }

p { font-size: 1.6rem; padding-bottom: 16px; font-weight: 400; }

h1 { font-size: 4.8rem; font-weight: 600; }

h2 { font-size: 3.6rem; font-weight: 600; }

h3 { font-size: 2.4rem; font-weight: 600; }

h4 { font-size: 1.8rem; font-weight: 600; }

h5 { font-size: 1.6rem; font-weight: 600; }

.figcaption { font-size: 0.75rem; /* ¾ of the body text */ }

kbd { background-color: #eee !important; border-radius: 3px !important; border: 1px solid #b4b4b4 !important; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset !important; color: #333; display: inline-block !important; font-size: .85em !important; font-weight: 700 !important; line-height: 1 !important; padding: 4px 10px !important; white-space: nowrap !important; }

code { background-color: #eee !important; border-radius: 3px !important; font-family: courier, monospace !important; padding: 5px 10px !important; }

strong, b, time { font-weight: 700; }

em, i, q, cite, dfn { font-style: italic; }

u { text-decoration: #f00 wavy underline; }

del { text-decoration: line-through; background-color: #fbb; color: #555; }

ins { text-decoration: none; background-color: #d4fcbc; }

s { text-decoration: line-through; }

sup { vertical-align: super; font-size: 1.5rem; }

sub { vertical-align: sub; font-size: smaller; }

small { font-size: .7em; }

abbr { font-style: italic; font-weight: 300; color: black !important; }

var { font-style: italic; font-weight: 700; color: black !important; }

/*
----------------------------------
CONFIG LINKS STYLES
Modify only the variables below 
----------------------------------
*/
a { color: inherit; text-decoration: none; }

a:visited { color: inherit; }

a:hover, a:focus, a:active { color: #1F5DA5; }

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

.herringbone:before { content: '> '; }

/*
----------------------------------
CONFIG LISTS STYLES
Modify only the variables below 
----------------------------------
*/
ul, ol { padding: 1rem 0 1rem 5rem !important; }

ul { list-style: disc; }

ul[class] { list-style-type: none !important; padding: 0 !important; margin: 0 !important; }

ol { list-style: decimal; }

li { padding-bottom: 8px !important; }

/*
----------------------------------
CONFIG MEDIA STYLES
Modify only the variables below 
----------------------------------
*/
embed, iframe, object { max-width: 100%; }

img { height: auto; max-width: 100%; border-style: none; }

figure { margin: 0; }

.ratio, .rectangle, .square { position: relative; overflow: hidden; }

.ratio .inner, .rectangle .inner, .square .inner { position: absolute; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }

.ratio::after, .rectangle::after, .square::after { content: ""; display: block; }

.ratio img, .rectangle img, .square img { object-fit: cover; height: 100%; width: 100%; }

.rectangle::after { padding-bottom: 50%; }

.square::after { padding-bottom: 85%; }

/*# sourceMappingURL=maps/main.css.map */
