/*
----------------------------------
CONFIG VARIABLE FONTS
Modify only the variables below 
----------------------------------
*/

//IMPORT YOUR FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

//CONFIG VARIABLES
$font_family: 'Poppins',
'Titillium Web',
sans-serif;
$font_size: 1.6rem;
$line_height: 1.6;

html {
    font-size: 62.5% !important;
}

body {
    font-family: $font_family !important;
    font-size: $font_size !important;
    line-height: $line_height !important;
    color: $black;
}